header {
  display: flex;
  justify-content: space-between;
  padding: 0px, 20px, 0px, 20px;
  align-items: center;
  border-bottom: white 5px solid;
  background-color: #F3E9F1;
}
header img {
  width: 250px;
  padding-left: 40px;
}
header p {
  padding-right: 40px;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
}

.section-index {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-evenly;
  align-items: space-evenly;
  margin: 0 auto;
  background-color: white;
}
.section-index .card {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 330px;
  margin: 20px;
  background: white;
  box-shadow: 0px 15px 26px -17px rgba(0, 0, 0, 0.46);
}
.section-index .card:hover {
  transform: scale(1.01);
  transition: 300ms;
}
.section-index .card img {
  display: flex;
  object-fit: cover;
  height: 100%;
  width: 40%;
  padding-bottom: 0.5em;
}
.section-index .card .second-card {
  width: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
.section-index .card .second-card a {
  display: flex;
  text-decoration: none;
  width: 80%;
  background: linear-gradient(128deg, #e28814 0%, #a868b8 41%, #915cf9 100%);
  margin-top: 20px;
  margin-right: 0px;
  justify-content: center;
  align-items: center;
  height: 40px;
  text-transform: uppercase;
  color: white;
  margin-top: 75px;
  border-radius: 1em 1em 1em 1em;
}
.section-index .card .second-card a:hover {
  transform: scale(1.05);
  transition: 500ms;
}
.section-index .card .second-card a:hover {
  box-shadow: 5px 15px 35px -10px rgba(0, 0, 0, 0.46);
  background: linear-gradient(128deg, #a868b8 0%, #915cf9 43%, #e28814 100%);
}
.section-index .card .second-card .price, .section-index .card .second-card .name {
  width: 50%;
  font-size: 1.4em;
  margin: 1px;
  font-weight: bold;
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: black solid 1px;
  color: #3e2f3c;
}

.section-produit {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  justify-content: space-between;
}
.section-produit .card-recap {
  width: 400px;
  height: 600px;
  box-shadow: 0px 15px 26px -17px rgba(0, 0, 0, 0.46);
}
.section-produit .card {
  display: flex;
  flex-direction: row;
  width: 700px;
  height: 430px;
  margin: 20px;
  background: white;
  box-shadow: 0px 15px 26px -17px rgba(0, 0, 0, 0.46);
}
.section-produit .card img {
  display: flex;
  object-fit: cover;
  height: 100%;
  width: 40%;
  padding-bottom: 0.5em;
}
.section-produit .card .second-card {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
}
.section-produit .card .second-card p {
  text-align: left;
  font-size: 0.8em;
}
.section-produit .card .second-card a {
  display: flex;
  text-decoration: none;
  width: 100%;
  background: green;
  margin-top: 70px;
  margin-left: -10px;
  margin-right: 0px;
  justify-content: center;
  align-items: center;
  height: 40px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}
.section-produit .card .second-card a:hover {
  transform: scale(1.005);
  transition: 500ms;
}
.section-produit .card .second-card .price, .section-produit .card .second-card .name {
  font-size: 1.4em;
  margin: 1px;
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 15px;
  color: #3e2f3c;
}
.section-produit .card .second-card .description {
  font-style: italic;
  width: 75%;
}
.section-produit .card .second-card .button-panier {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 70%;
  border-radius: 2em;
  border: none;
  background: linear-gradient(128deg, #e28814 0%, #a868b8 41%, #915cf9 100%);
  box-shadow: 0px 15px 26px -17px rgba(0, 0, 0, 0.46);
  color: white;
  font-size: 1em;
  margin-top: 30px;
}
.section-produit .card .second-card .button-panier:hover {
  transform: scale(1.05);
  transition: 500ms;
}
.section-produit .card .second-card .button-panier:hover {
  transform: scale(1.05);
  box-shadow: 5px 15px 35px -10px rgba(0, 0, 0, 0.46);
  background: linear-gradient(128deg, #a868b8 0%, #915cf9 43%, #e28814 100%);
}
.section-produit .card .second-card select {
  width: 50%;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.section-recap {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 800px;
  flex-direction: row;
  margin: 0 auto;
}
.section-recap .basket-recap {
  width: 20%;
  height: 500px;
  background-color: red;
}
.section-recap .article-recap {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.section-recap .article-recap .grid-produit {
  border: black solid 2px;
  border-radius: 1em 1em 1em 1em;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 40% 40% auto;
  grid-template-rows: 20% 20% 60%;
  gap: 0px 0px;
  grid-template-areas: "picturebasket productname productdelete" "picturebasket productprice productdelete" "picturebasket productquantity productdelete";
}
.section-recap .article-recap .picturebasket {
  border-radius: 1em 0em 0em 1em;
  grid-row: 1/span 3;
  grid-column: 1;
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-recap .article-recap .productname {
  grid-area: productname;
}
.section-recap .article-recap .productprice {
  grid-area: productprice;
}
.section-recap .article-recap .productquantity {
  grid-area: productquantity;
}
.section-recap .article-recap .productdelete {
  grid-area: productdelete;
}

/*# sourceMappingURL=style.css.map */
