@import url("https://fonts.googleapis.com/css2?family=Suranna&display=swap");

$color-text-logo: #3e2f3c;
$color-gradient-logo: linear-gradient(
	128deg,
	rgba(226, 136, 20, 1) 0%,
	rgba(168, 104, 184, 1) 41%,
	rgba(145, 92, 249, 1) 100%
);
$color-gradient-logo-inverse: linear-gradient(
	128deg,
	rgba(168, 104, 184, 1) 0%,
	rgba(145, 92, 249, 1) 43%,
	rgba(226, 136, 20, 1) 100%
);
$button-shadow: 0px 15px 26px -17px rgba(0, 0, 0, 0.46);

@mixin zoom {
	&:hover {
		transform: scale(1.05);
		transition: 500ms;
	}
}

@mixin mixin-button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50%;
	border-radius: 2em;
	border: none;
	background: $color-gradient-logo;
	box-shadow: $button-shadow;
	color: white;
	font-size: 1em;
	@include zoom;

	&:hover {
		transform: scale(1.03);
		box-shadow: 5px 15px 35px -10px rgba(0, 0, 0, 0.46);
		background: $color-gradient-logo-inverse;
	}
} ;
