.section-produit {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    background-color:white ;
    justify-content: space-between;

    .card-recap { 
        width: 400px;
        height: 600px;
        box-shadow: $button-shadow;
    }

    .card {
        display: flex;
        flex-direction: row;
        width: 700px;
        height: 430px;
        margin: 20px;
        background: white;
        box-shadow: $button-shadow;
    
        & img { 
            display      : flex;
            object-fit   : cover;
            height       : 100%;
            width: 40%;
            padding-bottom: 0.5em;
        }
    
        & .second-card { 
            display: flex;
            flex-direction: column;
            padding-left: 15px;
            margin-left: 10px;
            font-family: $font-text;
    
            & p {
            text-align: left;
            font-size: 0.8em;
            }
            & a { 
                display: flex;
                text-decoration: none;
                width: 100%;
                background: green;
                margin-top: 70px;
                margin-left: -10px;
                margin-right: 0px;
                justify-content: center;
                align-items: center;
                height: 40px;
                text-transform: uppercase;
                color: white;
                cursor: pointer;
                &:hover { 
                    transform: scale(1.005);
                    transition: 500ms;
                }
            } 
            & .price, .name { 
                font-size: 1.4em;
                margin: 1px;
                font-weight: bold;
                padding-bottom: 15px;
                padding-top: 15px;
                color: $color-text-logo;
            }
            & .description { 
                font-style: italic;
                width: 75%;
            }
            & .button-panier { 
                @include mixin-button;
                margin-top: 30px;
            }

            & select { 
                width: 50%;
                margin-bottom: 20px;
                margin-top: 20px;
                border-radius: 0.5em 0.5em 0.5em 0.5em;
            }
        } 
        }
    }