@import "./utils/fonts.scss";
@import "./utils/variable.scss";
@import "./layout/header.scss";
@import "./layout/footer.scss";
@import "./pages/index.scss";
@import "./pages/pageproduit.scss";
@import "./pages/page-panier.scss";
@import "./pages/page-confirm.scss";
